@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');

$font-1: 'Nova Round', cursive;
$font-2: 'Dosis', sans-serif;
$font-3: 'Josefin Sans', serif;

$color-1: #0b0a0f;
$color-2: #27272c;
$color-3: rgb(101, 30, 97);
$color-4: rgb(237, 79, 229);
$color-5: #8c818c;
$white: #f2eeee;
$black: #585353;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center; 
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $font-1;
  color: $black;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}
a:visited {
  color:$black;
}
.home, .knowledges, .portfolio, .contact {
  display: flex;

  @media screen and (max-width: 850px){
    display: block !important;
  }
}
.homeContent, .knowledgesContent, .portfolioContent, .contactContent {
  margin-left: .4rem;

  @media screen and (max-width: 850px){
    margin-left: 0 !important;
  }

}
.pic{
	width: 50%;
  }
  .special{
	background: #151139;
background: -moz-linear-gradient(left, #151139 0%, #3E11A4 61%, #7B236D 100%);
background: -webkit-linear-gradient(left, #151139 0%, #3E11A4 61%, #7B236D 100%);
background: linear-gradient(to right, #151139 0%, #3E11A4 61%, #7B236D 100%);
  }